/* react slick */

#header {
  .slick-dots {
    height: 20px;
    top: 211px !important;
    z-index: 99;

    .slick-active {
      cursor: pointer;
      .custom-dot {
        background: white;
      }
    }

    .custom-dot {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #8898aa;
      cursor: pointer;
    }
  }
}

#login-bg {
  .slick-slider,
  .slick-list,
  .slick-track,
  .slick-slide div {
    height: 100%;
  }

  .slick-dots {
    height: 16px;
    bottom: 12.8%;
    padding-left: 11.9%;
    text-align: start;
    z-index: 99;

    .custom-dot {
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background: #f7f7f7;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }

    .slick-active {
      cursor: pointer;
      width: 48px;
      .custom-dot {
        width: 48px;
        background: white;
      }
    }
  }
}

#advertise-bg {
  .slick-slider,
  .slick-list,
  .slick-track,
  .slick-slide > div {
    height: 100%;
  }
}

/* full calendar */

#weekly {
  .fc-scrollgrid-sync-inner {
    height: 95px !important;
    padding: 8px 0px;
  }

  .fc-timegrid-slots,
  .fc-timegrid-cols,
  .fc-col-header {
    colgroup {
      col {
        width: 52px !important;
      }
    }
  }

  .fc-timegrid-slots {
    table {
      border-right-style: solid;
      border-bottom-style: solid;
    }
  }

  .fc-col-header {
    border-left-style: solid;
    border-right-style: solid;

    .fc-timegrid-axis {
      border-bottom: none;
    }
  }

  .fc-col-header-cell {
    border-bottom: 1px solid #8898aa !important;
    &.fc-day-mon {
      border-left: 0.5px solid #e9ecef !important;
      box-shadow: -2px 0px 2px -2px #00000026;
    }

    &.fc-day-sun {
      border-right: 0.5px solid #e9ecef !important;
      box-shadow: 2px 0px 2px -2px #00000026;
    }
  }

  .fc-timegrid-slot {
    height: 120px !important;
  }

  .fc-timegrid-slot:last-child {
    border-bottom: 0.5px solid #e9ecef !important;
    border-right: 0.5px solid #e9ecef !important;
  }

  .fc-timegrid-slot-label {
    border-top: 0 !important;
    .fc-timegrid-slot-label-frame {
      height: 100%;
    }
  }
  thead {
    .fc-scroller {
      overflow: hidden !important;
    }
  }

  tbody {
    .fc-scroller {
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        margin-bottom: 24px;
      }

      &::-webkit-scrollbar-thumb {
        background: #8898aa;
        border-radius: 4px;
      }

      margin-right: 9px;
      padding-bottom: 24px;
    }
  }

  .fc-day-today {
    background-color: inherit !important;
  }

  .fc-v-event {
    margin: 16px;
    border-radius: 8px;
    border: none;
    padding: 8px;

    .fc-event-time {
      display: none;
    }
    .fc-event-title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      color: #000;

      font-family: "Open Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

#right_side_calendar {
  .fc-scrollgrid {
    * {
      border: none !important;
    }
  }

  .fc-col-header-cell.fc-day {
    width: 42px;
    height: 38px;
    line-height: 38px;

    span {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: center;
      color: #525f7f;
    }
  }

  .fc-daygrid-day-events {
    display: none;
  }

  .fc-daygrid-day {
    height: 42px !important;
  }

  .fc-day-other .fc-daygrid-day-top {
    opacity: 1 !important;
  }

  .fc-daygrid-day-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
  }

  .fc-daygrid-day-number {
    font-family: Open Sans;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 21px !important;
    letter-spacing: 0em !important;
    text-align: center !important;
    color: #525f7f !important;
  }

  .fc-bg-event,
  .fc-day-today {
    border-radius: 21px;
  }

  .fc-day-today {
    background: #86cbff;
    .fc-daygrid-day-number {
      font-weight: 700 !important;
    }
  }

  .fc-bg-event {
    background: #c0e4ff;
  }
}

/* ant */

#event-popover.ant-popover-inner {
  border-radius: 4px;
  border: 1px solid #e74c3c;
  background: #fff;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 6px 10px 0px rgba(0, 0, 0, 0.14);
  padding: 0;
  width: 350px;
  height: 116px;

  position: relative;
  top: 10px;
  left: 6px;

  .ant-popover-inner-content {
    width: 100%;
    height: 100%;
  }
}
