.home {
  width: 1580px;
  margin: 0 auto;
  top: -20px;
  position: relative;

  .row {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;

    &:last-child {
      margin-top: 29px;

      .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
